*{
	margin: 0;
	padding: 0;
}
#header{
	/*min-width:1919px;*/
	height:45px;
	background-color: #244d5f;
}
.header_box{
	width:1000px;
	height: 45px;
	margin:0 auto;
}
.head_left{
	/*width:500px;*/
	height:45px;
	float: left;
	font-family: "微软雅黑";
}
.head_left img{
	display: block;
	margin-top:12px;
	float: left;
}
.head_left a{
	display: block;
	
	color:#fff;
	float: left;
	margin-top:11px;
	margin-left:13px;
	font-size: 16px;
}
.head_left .change{
	color:#cecccc;
	margin-left: 14px;
}
.head_left .pc{
	margin-left: 74px;
	margin-top:11px;
}
.head_right{
	/*width: 500px;*/
	height: 45px;
	float: right;
	font-family: "微软雅黑";
}
.head_right a{
	display: block;
	text-decoration:none;
	color:#fff;
	float: right;
	margin-top:11px;
	font-size: 16px;
}
.head_right img{	
	float: right;
}
.head_right .imgW{
	margin-top:10px;
	margin-right: 26px;
}
.head_right .imgQ{
	margin-top:8px;
	margin-right: 17px;
}

#nav{
	border:1px solid #ccc;
	height: 80px;
	/*min-width:1919px;*/
}
#nav_box{
	height:80px;
	width:1038px;
	margin:0 auto;
}
#nav img{
	display:block;
	margin-top: 8px;
	margin-left: 19px;
	float: left;
}
#nav ul{
	height: 80px;
	float: right;
}
#nav a{
	color:#000000;
	font-family: "微软雅黑";
}
#nav li{
	width:80px;
	height:78px;
	list-style:none;
	float: left;
	line-height: 80px;
	text-align: center;
	font-family:"微软雅黑";
	font-size: 16px ;
}
#nav li:hover{
	background-color: #50bbdb;
	border-bottom:2px solid #000;
}
#banner{
	height: 354px;
}
.banner-inner{
	width: 1000px;
	height: 354px;
	margin: 0 auto;
}
.top-add{
	width: 1000px;
	height: 55px;
}
.top-add ul li{
	float:left;
	font-size: 13px;
	color:#333333;
	font-family:"微软雅黑";
	font-weight: bold; 
	line-height: 55px;
	letter-spacing: -1px;

}
.nopic{
	float:left;
	list-style: none;
}.top-add ul li a{
	text-decoration: none;
	color:#000;
}
.pic{
	list-style-image: url(../img/jiantou.jpg);
	margin-left: 30px;
	padding-left: 11px;
}
#con_search{
	height:82px;
	width:490px; 
	margin:0 auto;

}
.con_sea_top{
	height: 32px;
	width: 490px;
}
.con_sea_top input{
	display: block;
	float: left;
	height: 32px;
	width: 427px;
	border:3px solid #50bbdb;
}
.con_sea_top img{
	display: block;
	float: left;
	border: 3px solid #50bbdb;
}
.con_sea_bottom {
	margin-top: 14px;
}
.con_sea_bottom ul{

	margin-left: 13px;
}
.con_sea_bottom li{
	list-style:none;
	float: left;
	font-size: 14px;
	font-family: "宋体";
	color:#9f9f9f;
	margin-right: 13px;
}
#choose{
	width: 998px;
	border:1px solid #ccc;
}
#choose-inner{
	width: 954px;
	margin: 0 auto;
}
#choose p{

	float:left;
	margin-top: 16px;
	margin-right: 29px;
	font-size: 13px;
	color:#333;
	font-family:"微软雅黑";
}
.list-area, .list-days{
	border-bottom: 1px dashed #d8d9d9;
}
.list-area, .list-days, .list-time, .list-area ul{
	width: 954px;
	height: 44px;
	margin: 0 auto;
	overflow:hidden;	
}
#choose ul li{
	list-style:none;
	float:left;
	margin-top: 12px;
}
#choose ul li a{
	float:left;
	text-decoration: none;
	padding:2px 10px;
	text-align: center;
	line-height: 24px;
	font-size: 13px;
	color:#999;
	font-family:"微软雅黑";
}
#choose ul li a:hover{
	
	padding:2px 10px;
	color:#fff;
	background-color: #50bbdb;
	text-align: center;
	line-height: 24px;
}
.list-area li{
	margin-right: 16px;
}
.both1{
	margin-right:14px;
}
.both2{
	margin-right:16px;
}
.show, .show1{
	display: none;
	width:900px;
	margin-left: 104px;
}
.show ul{
	height: 40px;
}
.show1 ul{
	height: 40px;
}
.more-img, .more-img1{
	float:right;
	margin-top: 21px;
}

.more-span{
	float:left;
	cursor:pointer;
	line-height: 50px;
	margin-left: 25px;
	font-size: 13px;
}
.more-span1{
	cursor:pointer;
	line-height: 50px;
	margin-left: 40px;
	font-size: 13px;
}
.more{
	display:none;
}
.more ul{
	width: 850px;
	height: 80px;
	margin-left: 105px;
}
.more ul li{
	list-style:none;
	float:left;
	margin-top: 12px;
	margin-right: 14px;

}
.more ul li a{
	float:left;
	text-decoration: none;
	padding:2px 10px;
	text-align: center;
	line-height: 24px;
	font-size: 13px;
	color:#999;
	font-family:"微软雅黑";
}
.more ul li a:hover{
	
	padding:2px 10px;
	color:#fff;
	background-color: #50bbdb;
	text-align: center;
	line-height: 24px;
}
.list-time li{
	list-style:none;
	float:left;
	margin-top: 12px;
}
.list-time li a{
	float:left;
	text-decoration: none;
	padding:2px 10px;
	text-align: center;
	line-height: 24px;
	font-size: 13px;
	color:#999;
	font-family:"微软雅黑";
}
.list-time li a:hover{
	padding:2px 10px;
	color:#fff;
	background-color: #50bbdb;
	text-align: center;
	line-height: 24px;
}
.more1{
	display:none;
}
.more1 ul{
	width: 900px;
	height: 40px;
	margin-left: 105px;
}
.more1 ul li{
	list-style:none;
	float:left;
	margin-top: 12px;
	margin-right: 14px;

}
.more1 ul li a{
	float:left;
	text-decoration: none;
	padding:2px 10px;
	text-align: center;
	line-height: 24px;
	font-size: 13px;
	color:#999;
	font-family:"微软雅黑";
}
.more1 ul li a:hover{
	
	padding:2px 10px;
	color:#fff;
	background-color: #50bbdb;
	text-align: center;
	line-height: 24px;
}
.sort{
	float:left;
	width: 998px;
	height: 56px;
	border:1px solid #ccc;
	margin-top: 14px;
}



.c_c_t_bottom{
	width:1000px;
	height: 76px;
	margin-top: 10px;
}
.c_c_t_bottom ul{
	float: left;
}
.c_c_t_bottom ul li{
	list-style:none;
	float: left;
}
.c_c_t_bottom  .All{
	float: left;
	display: block;
	width: 105px;
	height: 58px;
	text-align: center;
	line-height: 58px;
	border: 1px solid #ccc;
	font-size: 14px;
	color:#000000;
	font-family: "微软雅黑";
	border-right: none;
}
.c_c_t_bottom .default{
	width:90px;
	height:60px;
	font-family: "微软雅黑";
	font-size: 14px;
	color:#999999;
	padding-left: 8px;
	border: 1px solid #ccc;
	border-right: none;
	display: block;
	float: left;
}

.c_c_t_bottom option{
	width:90px;

}
.c_c_t_bottom .default2{
	width:87px;
	height:60px;
	font-family: "微软雅黑";
	font-size: 14px;
	color:#999999;

	padding-left: 8px;
	border: 1px solid #ccc;
	border-right: none;
	display: block;
	float: left;
}
.c_c_t_bottom .default3{
	width:89px;
	height:60px;
	font-family: "微软雅黑";
	font-size: 14px;
	color:#999999;
	padding-left: 8px;
	border: 1px solid #ccc;
	border-right: none;
	display: block;
	float: left;
}
.c_c_t_bottom .default2 option{
	font-size: 6px;

}
.c_c_t_bottom .c_c_t_b_right{
	width:626px;
	height: 58px;
	border: 1px solid #ccc;
	float: right;
}
.c_c_t_bottom .c_c_t_b_right .pointL{
	width:44px;
	height: 28px;
	border: 1px solid #ccc;
	float: right;
	margin-right: 6px;
	margin-top: 14px;
	background:url(../img/自驾团列表页箭头右.png) no-repeat center;
}
.c_c_t_bottom .c_c_t_b_right .pointR{
	width:44px;
	height: 28px;
	border: 1px solid #ccc;
	border-right: none;
	float: right;
	margin-top: 14px;
	background:url(../img/自驾团列表页箭头左.png) no-repeat center;
}
.c_c_t_bottom .c_c_t_b_right .num{
	display: block;
	float: right;
	margin-top: 19px;
	margin-right: 26px;
	font-family: "微软雅黑";
	font-size: 14px;
	color:#999999;
}
.c_c_t_bottom .c_c_t_b_right p{
	float: right;
	font-family: "微软雅黑";
	font-size: 14px;
	color:#999999;
	margin-top: 19px;
	margin-right: 22px;
}
.c_c_t_bottom .c_c_t_b_right p a{
	font-family: "微软雅黑";
	font-size: 14px;
	color:#999999;
}


a{
	text-decoration: none;
}

#container{
	width: 1000px;
	height: 2834px;
	margin: 0 auto;
}
.floor1, .floor2, .floor3, .floor4, .floor5, .floor6{
	width: 1000px;
	height: 443px;
	float:left;

}
.caiyunzn, .luodizj, .yuecaims, .jiuzhaig, .aozhou, .xiaweiyi{
	width: 326px;
	height: 441px;
	border: 1px solid #d1cfcf;
	float:left;
}
.caiyunzn img{
	position: absolute;
}
.tmcen{
	width: 326px;
	height: 45px;
	margin-top: 168px;
	background: #656565;
	color:#fff;
	text-align: center;
	font-size: 19px;
	font-family: "微软雅黑";
	line-height:45px;
	filter:alpha(Opacity=60);
	opacity: 0.6; 
}
.gray{
	float:left;
	width: 326px;
	height: 51px;
	background-color: #efefef;
	margin-top: 10px;

}
.price{
	float:left;
	line-height: 51px;
	font-size: 21px;
	color:#ff6600;
	margin-left: 22px;
	font-family: "微软雅黑";
}
.price span{
	font-size: 12px;

}
.date{	
	float:left;
	margin-left: 22px;
	line-height: 51px;
	font-size: 11px;
	color:#999;
	font-family: "微软雅黑";
}
.day{
	float:right;
	margin-right: 40px;
	font-size: 13px;
	color:#eb6417;
	line-height: 51px;
	font-family: "微软雅黑";
}
.path{
	float:left;
	margin-top: 22px;
	margin-left: 21px;
	font-size: 15px;
	color:#333;
	font-family: "微软雅黑";

}
.introduce{
	float:left;
	margin-top: 12px;
	margin-left: 21px;
	font-size: 11px;
	color:#999;
	font-family: "微软雅黑";

}
.bottom{
	clear:both;
	padding-top:22px;
	margin-left: 21px;
}
.bottom a{
	text-decoration:none;
	float:left;
	font-size: 11px;
	color:#7a7a7a;
	margin-left: 38px;
	margin-top: 8px;
	font-weight: bold;
	font-family: "微软雅黑";
}
.list{
	margin-right: 30px;
}
.list li{
	width: 10px;
	list-style: none;
	float:right;
	line-height: 11px;
	padding-left:13px;
	margin-top: 10px;
}


.putuos, .mstiyan, .sqxunmei, .cbsbingxue, .xinxilan, .moningdunbd{
	width: 326px;
	height: 441px;
	border: 1px solid #d1cfcf;
	float:left;
	margin-left: 8px;
	margin-right: 8px;
}
.putuos img{
	position: absolute;
}


.guangx, .bingxuesd, .dianxiftrq, .langyatai, .jianpuz, .lwjipodao{
	width: 326px;
	height: 441px;
	border: 1px solid #d1cfcf;
	float:left;
}
.guangx img{
	position: absolute;
}


/*floor2*/
.luodizj img{
	position: absolute;
}
.mstiyan img{
	position: absolute;
}
.bingxuesd img{
	position: absolute;
}


/*floor3*/
.yuecaims img{
	position: absolute;
}
.sqxunmei img{
	position: absolute;
}
.dianxiftrq img{
	position: absolute;
}


/*floor4*/
.jiuzhaig img{
	position: absolute;
}
.cbsbingxue img{
	position: absolute;
}
.langyatai img{
	position: absolute;
}

/*floor5*/
.aozhou img{
	position: absolute;
}
.xinxilan img{
	position: absolute;
}
.jianpuz img{
	position: absolute;
}

/*floor6*/
.xiaweiyi img{
	position: absolute;
}
.moningdunbd img{
	position: absolute;
}
.lwjipodao img{
	position: absolute;
}


#con_list{
	width:1000px;
	height:185px;
	margin :0 auto;
/*	background-color: red;*/
}
#con_list #con_change{
	width: 1000px;
	float: right;
	margin-right:-570px;
	margin-top: 59px;
}
#con_list #con_change a{
	display: block;
	float: left;
	width:37px;
	height: 37px;
	background-color: #d6d6d6;
	margin-right: 11px;

}
#con_list #con_change a:hover{
	color:#ffffff;
	background-color: #50bbdb;
}
#con_list #con_change img{
	display: block;
}
#con_list #con_change .lft1{
	margin-left:10px;
	margin-top: 12px;
}
#con_list #con_change .rig1{
	margin-left:13px;
	margin-top: 12px;
}
#con_list #con_change .lft2{
	margin-left:12px;
	margin-top: 12px;
}
#con_list #con_change .rig2{
	margin-left:15px;
	margin-top: 12px;
}
#con_list #con_change .listBox{
	width:192px;
	height: 38px;
	overflow: hidden;
	float: left;
}
#con_list #con_change .listBox ul{
	width:384px;
	height: 38px;
	overflow: hidden;
	float: left;
}
#con_list #con_change li{
	float: left;
	width:37px;
	height: 37px;
	background-color: #d6d6d6;
	font-size: 16px;
	font-family: "微软雅黑";
	color:#000000;
	line-height: 37px;
	text-align: center;
	margin-right: 11px;
	list-style:none;
}
#con_list #con_change li:hover{
	color:#ffffff;
	background-color: #50bbdb;
}
#footer{
	height: 91px;
	/*min-width: 1919px;*/
	clear:both;
}

#footer #footer_top{
	height:50px;
	background-color: #444b55;
}
.f_top_box{
	height:90px;
	width:1000px;
	margin:0 auto;
}
#footer_top a{
	display: block;
	font-family: "微软雅黑";
	color:#fff;
	line-height: 50px;
}
#footer_top li{
	float: left;
	list-style:none;
	font-size: 16px;
}

#footer_top .list1{
	margin-left: 53px;
	margin-right: 117px;
}
#footer_top .list2{
	margin-right: 143px;
}
#footer_top .list3{
	margin-right: 137px;
}
#footer_top .list4{
	margin-right: 118px;
}
#footer_top .list5{
	margin-right: 53px;
}
#footer #footer_bottom{
	height: 40px;
	background-color: #565d65;
}
.f_bottom_box{
	width:445px;
	height:40px;
	line-height: 40px;
	margin:0 auto;
}
.f_bottom_box a{
	font-family: "微软雅黑";
	color:#fff;
}
.f_bottom_box .foo_b_text{
	margin-left: 34px;
}

