/** resets **/
/*html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  outline: none;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}*/
/*html { height: 101%; }
body { 
  background: #f0f0f0 url('images/bg.gif'); 
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #313131;
  font-size: 62.5%; 
  line-height: 1; 
}
*/
/*::selection { background: #a4dcec; }
::-moz-selection { background: #a4dcec; }
::-webkit-selection { background: #a4dcec; }
*/
/*::-webkit-input-placeholder {*/ /* WebKit browsers */
/*  color: #ccc;
  margin-left:20px;*/
  /*font-style: italic;*/
/*}*/
/*:-moz-placeholder {*/ /* Mozilla Firefox 4 to 18 */
  
/*  color: #ccc;*/
  /*font-style: italic;*/
/*  margin-left:20px;
}*/
/*::-moz-placeholder {*/ /* Mozilla Firefox 19+ */
 /* color: #ccc;
  margin-left:20px;*/
  /*font-style: italic;*/
/*}*/
/*:-ms-input-placeholder {*/ /* Internet Explorer 10+ */
  /*color: #ccc !important;*/
  /*font-style: italic;  */
  /*margin-left:20px;*/
/*}*/

/*br { display: block; line-height: 2.2em; } */

/*article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }*/
/*ol, ul { list-style: none; }*/

/*input, textarea { 
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  outline: none; 
}*/

/*blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
strong { font-weight: bold; } 

table { border-collapse: collapse; border-spacing: 0; }
img { border: 0; max-width: 100%; }*/

/*#topbar {
  background: #4f4a41;
  padding: 10px 0 10px 0;
  text-align: center;
}

#topbar a {
  color: #fff;
  font-size:1.3em;
  line-height: 1.25em;
  text-decoration: none;
  opacity: 0.5;
  font-weight: bold;
}

#topbar a:hover {
  opacity: 1;
}*/
*{
  margin:0px;
  padding:0px;
}
.mfycenter { display: block; text-align: center; }

/** page structure **/
#mfyw {
  display: block;
  width: 750px;
  margin: 0 auto;
  padding-top: 30px;
}

#mfycontent {
  display: block;
  width: 100%;
  background: #fff;
  padding: 25px 20px;
  padding-bottom: 35px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
  -moz-box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
}


#mfyloginbtn:hover {
  color: #fff;
  background-color: #73c437;
}
#mfyloginbtn:active {
  -webkit-box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.1);
  -moz-box-shadow:inset 0 1px 5px rgba(0, 0, 0, 0.1);
  box-shadow:inset 0 1px 5px rgba(0, 0, 0, 0.1);
}

/** custom login button **/
#mfyloginbtn{
  margin-top:15px;
  width:353px;
  height:50px;
  font-family:"黑体";
  color:#ffffff;
  font-size:24px;
  border:1px solid;
  background-color:#50bbdb;
  border-color:#50bbdb;
  border-radius:5px;
}

#mfyloginbtn:hover {
  color: #fff;
  background-color: #519dde;
}
#mfyloginbtn:active {
  -webkit-box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.1);
  -moz-box-shadow:inset 0 1px 5px rgba(0, 0, 0, 0.1);
  box-shadow:inset 0 1px 5px rgba(0, 0, 0, 0.1);
}

#mfyloginbtn2:hover {
  color: #fff;
  background-color: #73c437;
}
#mfyloginbtn2:active {
  -webkit-box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.1);
  -moz-box-shadow:inset 0 1px 5px rgba(0, 0, 0, 0.1);
  box-shadow:inset 0 1px 5px rgba(0, 0, 0, 0.1);
}

/** custom login button **/
#mfyloginbtn2{
  margin-top:30px;
  width:233px;
  height:44px;
  font-family:"微软雅黑";
  font-size:18px;
  color:#ffffff;
  border:1px solid;
  background-color:#50bbdb;
  border-color:#50bbdb;
  border-radius:5px;
}

#mfyloginbtn2:hover {
  color: #fff;
  background-color: #519dde;
}
#mfyloginbtn2:active {
  -webkit-box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.1);
  -moz-box-shadow:inset 0 1px 5px rgba(0, 0, 0, 0.1);
  box-shadow:inset 0 1px 5px rgba(0, 0, 0, 0.1);
}
/** modal window styles **/
#mfylean_overlay {
    position: fixed;
    z-index:100;
    top: 0px;
    left: 0px;
    height:100%;
    width:100%;
    background: #000;
    display: none;
}

.mfyclose{
  float:right;
  position:relative;
  top:13px;
  right:13px;
}

.mfye-close{
  width:46px;
  height: 66px;
  float:right;
  margin-top:27px;
  margin-right:29px;
}

.mfye-close p{
  font-family:"微软雅黑";
  font-size:16px;
}

.mfymodal-logo{
  margin:0px auto;
  display:block;
  margin-top:24px;
}

.mfyphsign{
  display:block;
  float:right;
  margin-right:72px;
  font-family:"微软雅黑";
  font-size:14px;
  margin-top:16px;
  margin-bottom:4px;
  text-decoration:none;
  color:#76cae3;
}

.mfysignpb{
  width:353px;
  height:40px;
  margin:0px auto;
  margin-top:17px;
}

.mfysignpb p{
  font-family:"微软雅黑";
  font-size:12px;
  float:left;
}

.mfysignpb span{
  color:#999999;
}

.mfysignpb p a{
  color:#333333;
  text-decoration:none;
}

#mfysignbtn:hover {
  color: #fff;
  background-color: #73c437;
}
#mfysignbtn:active {
  -webkit-box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.1);
  -moz-box-shadow:inset 0 1px 5px rgba(0, 0, 0, 0.1);
  box-shadow:inset 0 1px 5px rgba(0, 0, 0, 0.1);
}

/** custom login button **/
#mfysignbtn{
  display:block;
  width:120px;
  height:40px;
  font-family:"微软雅黑";
  color:#ffffff;
  font-size:14px;
  border:1px solid;
  background-color:#50bbdb;
  border-color:#50bbdb;
  /*border-radius:5px;*/
  float:right;

}

#mfysignbtn:hover {
  color: #fff;
  background-color: #519dde;
}
#mfysignbtn:active {
  -webkit-box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.1);
  -moz-box-shadow:inset 0 1px 5px rgba(0, 0, 0, 0.1);
  box-shadow:inset 0 1px 5px rgba(0, 0, 0, 0.1);
}

#mfysign:hover {
  color: #fff;
  background-color: #73c437;
}
#mfysign:active {
  -webkit-box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.1);
  -moz-box-shadow:inset 0 1px 5px rgba(0, 0, 0, 0.1);
  box-shadow:inset 0 1px 5px rgba(0, 0, 0, 0.1);
} 

/** custom login button **/
#mfysign{
  display:block;
  width:120px;
  height:40px;
  font-family:"微软雅黑";
  color:#ffffff;
  font-size:14px;
  border:1px solid;
  background-color:#50bbdb;
  border-color:#50bbdb;
  border-radius:5px;
  margin:0px auto;
  margin-top:21px;
}

#mfysign:hover {
  color: #fff;
  background-color: #519dde;
}
#mfysign:active {
  -webkit-box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.1);
  -moz-box-shadow:inset 0 1px 5px rgba(0, 0, 0, 0.1);
  box-shadow:inset 0 1px 5px rgba(0, 0, 0, 0.1);
}

#mfyloginmodal{
  width:500px;
  height:522px;
  background-color:#ffffff;
  border-radius:5px;

}

#mfysignup{
  width:500px;
  height:668px;
  background-color:#ffffff;
  border-radius:5px;
}

#mfyevaluate{
  width:1002px;
  height:705px;
  background-color:#ffffff;
  border-radius:5px;
}

#mfyorder{
  /*width:1002px;*/
  /*height:2059px;*/
  width:1001px;
  height:2240px;
  background-color:#ffffff;
  border-radius:5px;
}
.mfye-left{
  width:536px;
  height:506px;
  /*border:1px solid;*/
  margin-left:53px;
  margin-top:42px;
  float:left;
}

.mfye-left p{
  font-family:"微软雅黑";
  font-size:24px;
  text-align:center;
  font-weight:bolder;
}

.mfye-right{
  width:309px;
  /*height:107px;*/
  float:left;
  /*border:1px solid;*/
  margin-top:130px;
  margin-left:25px;
}

.mfye-right ul li{
  margin-bottom:33px;
}

.mfye-right span{
  font-family:"微软雅黑";
  font-size:18px;
  display:block;
  float:left;
  margin-right:19px;
}

.mfydemo{
  float:left;
}

.mfye-right input{
  font-family:"微软雅黑";
  font-size:16px;
  color:#999999;
}

.mfyshowpic{
  width:536px;
  height:67px;
}

.mfypic span{
  display:block;
  text-align:center;
  line-height:67px;
}

.mfypic{
  width:80px;
  height:66px;
  /*border:1px solid;*/
  background-color:#e4e4e4;
  float:left;
}

#mfyaddpic{
  width:64px;
  height:46px;
  background-image:url("../img/addpic.jpg");
  background-repeat:no-repeat;
  background-position:left;
  float:left;
  margin-left:17px;
  margin-top:9px;
}

.mfypicnum{
  display:block;
  float:left;
  margin-left:18px;
  line-height:67px;
}
#mfye-sub:hover {
  color: #fff;
  background-color: #73c437;
}
#mfye-sub:active {
  -webkit-box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.1);
  -moz-box-shadow:inset 0 1px 5px rgba(0, 0, 0, 0.1);
  box-shadow:inset 0 1px 5px rgba(0, 0, 0, 0.1);
}

/** custom login button **/
#mfye-sub{
  display:block;
  width:99px;
  height:37px;
  font-family:"微软雅黑";
  color:#ffffff;
  font-size:18px;
  border:1px solid;
  background-color:#50bbdb;
  border-color:#50bbdb;
  border-radius:5px;
  float:right;
  margin-top:23px;
  margin-right:6px;
}

#mfye-sub:hover {
  color: #fff;
  background-color: #519dde;
}
#mfye-sub:active {
  -webkit-box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.1);
  -moz-box-shadow:inset 0 1px 5px rgba(0, 0, 0, 0.1);
  box-shadow:inset 0 1px 5px rgba(0, 0, 0, 0.1);
}

#mfyloginform {
  display:block;
  margin-top:45px;
}

#mfysignform {
  display:block;
  margin-top:45px;
}

#mfyloginform label { display: block; font-size: 1.1em; font-weight: bold; color: #7c8291; margin-bottom: 3px; }

#mfysignform label { display: block; font-size: 1.1em; font-weight: bold; color: #7c8291; margin-bottom: 3px; }


.mfytxtfield1{
  width:353px;
  height:53px;
  display:block;
  margin:0px auto;
}

.mfytxtfield2{
  width:353px;
  height:53px;
  display:block;
  margin:0px auto;
  margin-top:16px;
}

.mfytxtfield3{
  width:353px;
  height:53px;
  display:block;
  margin:0px auto;
  margin-top:12px;
}

#mfytext{
  width:532px;
  height:304px;
  display:block;
  border:0px;
  border-bottom:1px solid #e7e7e7;
}

#mfytxtfield4{
  width:536px;
  height:370px;
  margin-top:51px;
  border:1px solid #e7e7e7;
}

.mfytxtfield:focus {
  outline: none;
  color: #525864;
  border-color: #84c0ee;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15), 0 0 7px #96c7ec;
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15), 0 0 7px #96c7ec;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15), 0 0 7px #96c7ec;
}

.mfyforgetp{
  width:353px;
  height:71px;
  /*border:1px solid;*/
  margin:0px auto;
  margin-top:21px;
}
.mfyforgetp-s{
  height:16px;
}
.mfyforgetp-a{
  display:block;
  float:left; 
  color:#76cae3;
  text-decoration:none;
}

.mfyforgetp p{
  float:right;
}

.mfyforgetp p a{
   text-decoration:none;
   color:#76cae3;
   font-family:"微软雅黑";
   font-size:14px;
}

.mfyhr{
  height:20px;
  margin-top:42px;
}
.mfyhr1{
  width:136px;
  float:left;
  height:1px;
  border:none;
  border-top:1px solid #50bbdb;
  margin-top:7px;
}
.mfyhr2{
  width:136px;
  float:right;
  height:1px;
  border:none;
  border-top:1px solid #50bbdb;
  margin-top:7px;
}
.mfyhr span{
  font-family:"微软雅黑";
  font-size:13px;
  /*display:block;*/
  /*float:left;*/
  /*margin:0px auto;*/
}

.mfysignhr{
  height:20px;
  width:353px;
  margin:0px auto;
  margin-top:43px;
}

.mfysignhr1{
  width:136px;
  float:left;
  height:1px;
  border:none;
  border-top:1px solid #50bbdb;
  margin-top:7px;
}
.mfysignhr2{
  width:136px;
  float:right;
  height:1px;
  border:none;
  border-top:1px solid #50bbdb;
  margin-top:7px;
}
.mfysignhr span{
  font-family:"微软雅黑";
  font-size:13px;
}

.mfyo-header{
  width:1002;
  /*height:87px;*/
  height:61px;
  border-bottom:1px solid #d2d2d2;
  padding-top:26px;
}

.mfytitle{
  display:block;
  width:120px;
  height:28px;
  font-family:"黑体";
  font-size:28px;
  line-height:28px;
  margin:0px auto;
}

.mfyo-close{
  width:46px;
  height: 66px;
  position:absolute;
  top:11px;
  right:22px;
}
.mfyo-close p{
  font-family:"微软雅黑";
  font-size:16px;
  margin-top:-8px;
  margin-left:5px;
}
.mfyo-top{
  width:1002px;
  height:91px;
}
.mfyo-top p{
  margin-left:31px;
  line-height:91px;
}
.mfyo-top p .mfyspan1{
  font-family:"微软雅黑";
  font-size:24px;
}
.mfyo-top p .mfyspan2{
  color:#ea5023;
}
.mfyo-top p .mfyspan3{
  font-family:"微软雅黑";
  font-size:30px;
  color:#ea5023;
}
.mfyroute{
  width:1000px;
  /*height:293px;*/
  height:330px;
  border:1px solid #e1e1e1;
  margin:0px auto;
}
.mfybg{
  width:1000px;
  height:56px;
  background-color:#f7f7f7;
}
.mfyinfo{
  margin-left:31px;
  font-family:"微软雅黑";
  font-size:24px;
  line-height:56px;
}
.mfyroute ul,.mfycontacts ul{
  margin-left:31px;
  margin-top:30px;
}
.mfyroute ul li{
  margin-bottom:33px;
}
.mfyroute ul li span,.mfycontacts ul li span{
  font-family:"微软雅黑";
  font-size:18px;
}
.mfyroute-span2{
  margin-left:186px; 
}
.mfycontacts{
  width:1000px;
  height:208px;
  border:1px solid #e1e1e1;
  margin:0px auto;
  margin-top:32px;
}
.mfycon-li1-2{
  margin-left:115px;
}
.mfycon-li1-3{
  margin-left:165px;
}
.mfycon-li1-4{
  margin-left:97px;
}
.mfycon-li2{
  margin-top:46px;
}
.mfycon-li2-2{
  margin-left:80px;
}
.mfycon-li2-3{
  margin-left:100px;
}
.mfytourist{
  width:1000px;
  /*height:488px;*/
  height:560px;
  border:1px solid #e1e1e1;
  margin:0px auto;
  margin-top:32px;
}
.mfytour1{
  width:1000px;
  /*height:204px;*/
  height:204px;
  padding-top:18px;
  margin:0px auto;
  margin-left:31px;
}
hr{
  width:998px;
  border-style:dotted;
  color:#c1c1c1;
  margin:0px auto;
}
.mfytour2{
  width:1000px;
  /*height:226px;*/
  height:226px;
  padding-top:22px;
  margin:0px auto;
  margin-left:31px;
}
.mfytour1 .mfyspan1,.mfytour2 .mfyspan1{
  display:block;
  font-family:"微软雅黑";
  font-size:20px;
  margin-bottom:29px;
}
.mfytour1 ul li,.mfytour2 ul li{
  font-family:"微软雅黑";
  font-size:18px;
  margin-bottom:26px;
}
.mfysp1-2{
  margin-left:90px;
}
.mfysp1-3{
  margin-left:180px;
}
.mfysp1-4{
  margin-left:102px;
}

.mfysp2-2{
  margin-left:126px;
}
.mfysp2-3{
  margin-left:198px;
}
.mfysp2-4{
  margin-left:83px;
}

.mfysp3-2{
  margin-left:126px;
}
.mfysp3-3{
  margin-left:181px;
}
.mfyinsure{
  width:1000px;
  /*height:199px;*/
  height:210px;
  border:1px solid #e1e1e1;
  margin:0px auto;
  margin-top:32px;
}
.mfyinsure ul{
  margin-top:31px;
  margin-left:31px;
  font-family:"微软雅黑";
  font-size:18px;
}
.mfyinsure-hr{
  width:944px;
  border-style:dotted;
  color:#e0e0e0;
  float:left;
  margin-top:12px;
  margin-bottom:33px;
  /*z-index:999999;*/
}
.mfyinsure-li2{
  clear:both;
}
.mfyinsure-sp2{
  margin-left:65px;
}
.mfyinsure-sp3{
  margin-left:335px;
}
.mfyinsure-sp3 span{
  color:#eb5e17;
}
.mfybook{
  width:1000px;
  /*height:280px;*/
  height:310px;
  border:1px solid #e1e1e1;
  margin:0px auto;
  margin-top:32px;
}
.mfybook ul{
  margin-left:31px;
  margin-top:32px;
  font-family:"微软雅黑";
  font-size:18px;
}
.mfybook ul li{
  margin-bottom:46px;
}
.mfybook-sp2{
  margin-left:79px;
}
.mfybook-sp3{
  margin-left:194px; 
}
.mfybook-sp4{
  margin-left:32px; 
}
.mfymore{
  width:1000px;
  height:139px;
  border:1px solid #e1e1e1;
  margin:0px auto;
  margin-top:32px;
}
.mfymore_p{
  margin-left:31px;
  font-family:"微软雅黑";
  font-size:16px;
  line-height:81px;
}
.mfybody{
  background-color:#f0f0f0;
  background-image:url('../img/bg.gif');
}
